<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_02_Variables.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Job Postings Count (1.2.1)

In [1]:
job_count = 42
print(job_count)

42

---

## ðŸŸ© Job Information (1.2.2)

In [8]:
job_title = 'Data Engineer'
company_name = 'DataWorks'
remote_status = True
print(job_title, company_name, remote_status)

Data Engineer DataWorks True

---

## ðŸŸ¨ Calculate Total Compensation (1.2.3)

In [9]:
base_salary = 120000
bonus = 20000
total_compensation = base_salary + bonus
print(total_compensation)

140000

---

## ðŸŸ¨ Calculate Monthly Salary (1.2.4)

In [10]:
annual_salary = 72000
monthly_salary = annual_salary / 12
print(monthly_salary)

6000.0

---

## ðŸŸ¥ Calculate Total Compensation with Bonus (1.2.5)

In [12]:
job_title = "Data Scientist"
company_name = "AI Solutions"
salary = 110000
total_compensation = salary + 10/100 * salary
print(total_compensation)

121000.0

---